@import '../variables';

.footer {
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  padding: 3rem;
  color: $color-dove-gray-dark;

  &__icons {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }

  &__social {
    background-color: $color-alto;
    padding: 1.2rem;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
      color: $color-eunry;
    }
  }

  &__copyright {
    font-size: 2rem;
    text-align: center;
  }
  &__link {
    &:hover {
      color: $color-eunry;
    }
  }
}
