@import '../variables';

.gallery {
  display: grid;
  background-color: $color-anakiwa;
  padding-bottom: 6rem;

  &__header {
    display: grid;
    padding: 3rem 1rem;
    grid-gap: 3rem;
  }
  &__title {
    justify-self: end;
    font-size: 2.4rem;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    width: 60%;
    justify-self: center;
    justify-items: center;
    grid-gap: 3rem;
    list-style: none;

    @media (max-width: 991px) {
      width: 80%;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  }
  &__link {
    font-size: 1.8rem;
  }

  &__grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background-color: $color-white;
    margin: -1rem;
    padding: 1.3rem;
  }
  &__image-wrapper {
    position: relative;
    background-color: $color-rich-gold;
    cursor: pointer;
  }
  &__image {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  &__image-wrapper:hover &__image {
    opacity: 0.3;
  }
  &__image-wrapper:hover &__image-overlay,
  &__image-wrapper:hover &__image-text::before,
  &__image-wrapper:hover &__image-text::after {
    transform: scale(1);
  }
  &__image-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: $color-white;
    padding: 4rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    transform: scale(0);
    border: 1px solid $color-white;
  }
  &__image-text {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
      transform: scale(0, 1);
      transition: all 0.5s;
    }
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: 1px solid $color-white;
      border-left: 1px solid $color-white;
      transform: scale(1, 0);
      transition: all 0.5s;
    }
  }
  &__image-heading {
    font-size: 3rem;
    font-weight: 400;

    &--bold {
      font-weight: 700;
    }
  }
  &__image-content {
    line-height: 1.8;
  }
}
