html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
}

$font-size-xl: 3.6rem;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.6rem;


$font-size-large-heading: $font-size-xl;
$font-size-section-heading: $font-size-lg;
$font-size-plain-text: $font-size-md;


$font-color-white: $color-white;
$font-color-heading: $color-mine-shaft;
$font-color-emphasis: $color-mine-shaft;
$font-color-text: $color-dove-gray-dark;
$font-color-highlight: $color-eunry;
