.details {
  display: grid;
  grid-gap: $gutter-sm;
  grid-template-columns: 2fr 3fr;
  justify-items: stretch;

  @media (max-width: 991px) {
    grid-template-columns: 75%;
    justify-content: center;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;

    @media (max-width: 991px) {
      grid-template-rows: auto 20rem 1fr;
    }
  }
  &__heading {
    color: $font-color-heading;
    font-size: $font-size-section-heading;
    margin: 2rem 0;
    text-align: center;
  }

  &__block {
    display: grid;
    grid-template-columns: 80%;
    font-size: $font-size-plain-text;
    justify-content: center;
    align-content: space-evenly;

    &--dark {
      background-color: $color-alto;

      @media (max-width: 991px) {
        padding: 5rem 0;
        grid-gap: $gutter-xl;
      }
    }
  }
  &__text {
    color: $font-color-text;
    font-size: $font-size-plain-text;

    &--italic {
      font-style: italic;
      color: $font-color-emphasis;
      line-height: 1.7;
    }
  }

  &__more {
    background-color: $color-nevada;
    color: $font-color-white;
    padding: 1.5rem 4rem;
    justify-self: center;
  }

  &__banner {
    width: 100%;
  }
}
