.footer {
  display: grid;
  grid-gap: $gutter-lg;
  justify-items: center;
  padding: 3rem;
  color: $font-color-text;

  @media (max-width: 767px) {
    padding: 0;
  }

  &__icons {
    display: grid;
    grid-gap: $gutter-md;
    grid-template-columns: repeat(4, 1fr);
  }

  &__social {
    background-color: $color-alto;
    padding: 1.2rem;
    text-align: center;
    font-size: $font-size-plain-text;
    cursor: pointer;

    &:hover {
      color: $font-color-highlight;
    }
  }

  &__copyright {
    font-size: $font-size-plain-text;
    text-align: center;
  }
  &__link {
    &:hover {
      color: $font-color-highlight;
    }
  }
}
