.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 7rem 3rem;
  background-color: $color-blue-bell;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: $gutter-xl;
  }
  &__item {
    display: grid;
    grid-gap: $gutter-xs;
    text-align: center;
    color: $font-color-white;
  }
}
