*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #f2f2f2;
}

body {
  font-size: 1.6rem;
}

button {
  background: transparent;
  outline: none;
}
