*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #f2f2f2;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
  height: 100%;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

button,
a {
  background: transparent;
  outline: none;
  border: 0;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
