$color-blue-bell: #9999cc;
$color-porcelain: #edeeef;
$color-white: #ffffff;
$color-eunry: #cc9999;
$color-dove-gray: #6f6f6f;
$color-mine-shaft: #333333;
$color-dove-gray-dark: #666666;
$color-alto: #dddddd;
$color-nevada: #666768;
