$color-blue-bell: #9999cc;
$color-porcelain: #edeeef;
$color-white: #ffffff;
$color-eunry: #cc9999;
$color-dove-gray: #6f6f6f;
$color-mine-shaft: #333333;
$color-dove-gray-dark: #666666;
$color-alto: #dddddd;
$color-nevada: #666768;
$color-anakiwa: #99ccfd;
$color-rich-gold: #9e5406;
$color-de-york: #99cc99;
$color-concrete: #f2f2f2;
$color-oslo-gray: #999a9b;
$color-spring-leaves: #547d54;
